* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #000000;
    margin-top: 100px;
}

.header {
    background-color: #520000;
    color: rgb(255, 0, 0);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.nav-menu ul {
    list-style: none;
    margin-top: 10px;
}

.nav-menu ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-menu a {
    color: rgb(255, 174, 133);
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

main {
    margin-top: 100px;
}

.banner {
    background-color: #ff0000;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
}

.product-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffbb00;
    padding: 15px;
    text-align: center;
}

.product-card:hover {
    transform: scale(1.03);
    border-color: #ff0000;
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer {
    background-color: #690000;
    color: rgb(255, 148, 148);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}